@mixin bdr-1px($deriction: top) {
	content: '';
	height: .5px;
	width: 100%;
	position: absolute;
	left: 0;
	#{$deriction}: 0;
	// border-bottom: 1px solid $uni-border-color;
	background-color: $uni-border-color;
	--webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	z-index: 99;
}